/* ---------- COLORES -----------

    Café: #703F2A
    Verde oscuro: #67823A
    Verde claro: #CEDC00
    Negro: #000000
    Blanco: #FFFFFF
    Rojo: #E12526

----------------------------------*/


.bg-navbar{
    background-color: #000000;
    opacity: 0.9;
    box-shadow: 0px 0px 20px #000000;
    border-radius: 25px;
    margin: 1% 2% 0% 2%;

}

.options{
    color: white;
}

.navbar-item{
    white-space: nowrap;
    margin-right: 10%;


}

.navbar-nav.navbar-center {
    margin-left: 30%;
}

.logo-navbar{
    width: 120px;
}

@media (max-width: 991px){
	.navbar-nav.navbar-center {
        margin: auto;
    }
    
}